.header__logo {
  background-image: url(../../../images/header__logo.svg);
  max-width: 176px;
  min-height: 52px;
  width: 100%;
}

@media screen and (max-width: 400px) {
  .header__logo {
    min-width: 142px;
    max-height: 42px;
    width: 100%;
  }
}
