.footer__copyright {
  max-width: 186px;
  font-weight: normal;
  font-size: 14px;
  line-height: 114%;
  margin-left: auto;
  color: #ffffff;
}

@media screen and (max-width: 1180px) {
  .footer__copyright {
    margin-right: 48px;
  }
}

@media screen and (max-width: 780px) {
  .footer__copyright {
    margin-right: 24px;
  }
}

@media screen and (max-width: 680px) {
  .footer__copyright {
    margin-left: 16px;
    margin-top: 48px;
    margin-bottom: 24px;
    line-height: 100%;
    width: 100%;
  }
}
