@import url(./__title/intro__title.css);
@import url(./__text/intro__text.css);
@import url(./__list/intro__list.css);
@import url(./__list-text/intro__list-text.css);
@import url(./__list-number/intro__list-number.css);

.intro {
  position: relative;
  max-width: 984px;
  min-width: 288px;
  width: auto;
  margin: 92px auto 0;
}

@media screen and (max-width: 1030px) {
  .intro {
    max-width: 690px;
    margin-left: 48px;
  }
}

@media screen and (max-width: 750px) {
  .intro {
    padding: 0 24px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 560px) {
  .intro {
    padding: 0 15px;
  }
}
