.footer__nav {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1180px) {
  .footer__nav {
    margin-left: 48px;
  }
}

@media screen and (max-width: 780px) {
  .footer__nav {
    margin-left: 24px;
  }
}

@media screen and (max-width: 680px) {
  .footer__nav {
    margin-left: 0;
  }
}
